.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Pacifico";

  background-color: #c3e7fd;
  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
  font-family: "sans-serif";
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

.logo {
  font-size: 30px;
  color: white;
}
